/*Index Module*/
.video-presentacion{height:372px;width:491px;display:block;background:url("../../../../img/icon-set4.png?version") no-repeat scroll 0 0 transparent;background-position:0  -164px}
.arrow-left{display:block;height:24px;position:absolute;top:30px;width:14px;background:url("../../../../img/icon-set.png?version") no-repeat scroll 0 0 transparent;background-position:-200px  0}
.slideshow{clear:both;height:55px;padding:15px 0 20px;position:relative;}
.slideshow .slide{display:block;height:55px;left:15px;list-style:none outside none;margin:0;position:absolute;width:427px;}
.slideshow .slide li{list-style:none outside none;float:left;width:70px;margin:0 0 0 13px;border-color:#ddd;border-style:solid;border-width:1px;}
.slideshow .slide li a{display:block;height:53px;width:70px;background:url("../../../../img/icon-set5.png?version") no-repeat scroll 0 0 transparent;}
.slideshow .slide li a.elcomerciope2{background-position:0  0}
.slideshow .slide li a.rppnoticias2{background-position:-70px  0}
.slideshow .slide li a.perucom2{background-position:-140px  0}
.slideshow .slide li a.peru212{background-position:-210px  0}
.slideshow .slide li a.trome2{background-position:-280px  0}
.arrow-right{display:block;height:24px;position:absolute;right:0;top:30px;width:14px;background:url("../../../../img/icon-set.png?version") no-repeat scroll 0 0 transparent;background-position:-214px  0}
.registrate{font-size:16px;color:#666;}
.registrate .free{color:#333;font-size:20px}
.registrate .offer-price{color:#f00;font-size:26px}
.campana{margin:20px 0 0 110px}
.pasos-de-uso{padding:15px 0 25px 0;}
.pasos-de-uso .video-pasos{width:286px;height:166px;display:block;background:url("../../../../img/icon-set4.png?version") no-repeat scroll 0 0 transparent;background-position:0  0;float:left}
.pasos-de-uso ul{float:right;}
.pasos-de-uso ul li{list-style:none outside none;width:155px;height:135px;border-color:#eee;border-style:solid;border-width:0 0 0 1px;float:left;margin:3px 8px 0 0;position:relative;padding:20px 0 0}
.pasos-de-uso ul li:first-child{margin:3px 8px 0 0;border-width:0 0 0 1px}
.pasos-de-uso ul .step{display:block;font-size:48px;line-height:48px;float:left;margin:0 0 0 15px;font-weight:700;height:55px}
.pasos-de-uso ul .step-text{display:block;float:left;margin:0 0 0 10px;width:90px;padding:10px 0 1px}
.pasos-de-uso ul .step-icon{clear:both;display:block;height:50px;margin:0 auto;width:50px;background:url("../../../../img/icon-set.png?version") no-repeat scroll 0 0 transparent}
.pasos-de-uso ul #step-registrate{background-position:0  0}
.pasos-de-uso ul #step-disena{background-position:-50px  0}
.pasos-de-uso ul #step-planifica{background-position:-100px  0}
.pasos-de-uso ul #step-monitorea{background-position:-150px  0}
.red-home{list-style:none outside none;margin:0 0 10px 0;}
.red-home li{border-color:#ddd;border-style:solid;border-width:1px;float:left;height:93px;list-style:none outside none;margin:10px 12px 0 0;width:123px;}
.red-home li a{width:123px;height:93px;display:block;font-size:0;line-height:0;text-align:center;*text-indent:-9999px;background:url("../../../../img/icon-set3.png?version") no-repeat scroll 0 0 transparent;}
.red-home li a.elcomerciope{background-position:0  0}
.red-home li a.rppnoticias{background-position:-125px  0}
.red-home li a.perucom{background-position:-250px  0}
.red-home li a.peru21{background-position:-375px  0}
.red-home li a.trome{background-position:-500px  0}
.red-home li a.depor{background-position:0  -95px}
.red-home li a.correo{background-position:-125px  -95px}
.red-home li a.studio92{background-position:-250px  -95px}
.red-home li a.gestion{background-position:-375px  -95px}
.red-home li a.ojo{background-position:-500px  -95px}
.red-home li a.elbocon{background-position:0  -190px}
.red-home li a.correo{background-position:-125px  -95px}
.red-home li a.oxigeno{background-position:-125px  -190px}
.red-home li a.aja{background-position:-250px  -190px}
.red-home li a.publimetro{background-position:-375px  -190px}
.red-home li a.capital{background-position:-500px  -190px}
.red-home li a.felicidad{background-position:0  -285px}
.red-home li a.bravaza{background-position:-125px  -285px}
.red-home li a.lazona{background-position:-250px  -285px}
.red-home li:first-child{margin:10px 12px 0 0}
.panel-home span{width:180px;height:110px;display:block;overflow:hidden;border:0 solid #ddd;margin:1px auto;background:url("../../../../img/icon-set2.png?version") no-repeat scroll 0 0 transparent;}
.panel-home span.fig1{background-position:0  0}
.panel-home span.fig2{background-position:-180px  0}
.panel-home span.fig3{background-position:0  -110px}
.panel-home span.fig4{background-position:-180px  -110px}
.panel-home .desc{padding:12px 2px 2px 2px;text-align:center}
.opciones{padding:30px 0 0}
/*Portales Module*/
.panel-port{overflow:hidden;height:190px;border:1px solid #ddd;}
.panel-port span{width:125px;height:95px;margin:2px auto;display:block;background:url("../../../../img/icon-set3.png?version") no-repeat scroll 0 0 transparent;}
.panel-port span.elcomerciope{background-position:0  0}
.panel-port span.rppnoticias{background-position:-125px  0}
.panel-port span.perucom{background-position:-250px  0}
.panel-port span.peru21{background-position:-375px  0}
.panel-port span.trome{background-position:-500px  0}
.panel-port span.depor{background-position:0  -95px}
.panel-port span.correo{background-position:-125px  -95px}
.panel-port span.studio92{background-position:-250px  -95px}
.panel-port span.gestion{background-position:-375px  -95px}
.panel-port span.ojo{background-position:-500px  -95px}
.panel-port span.elbocon{background-position:0  -190px}
.panel-port span.correo{background-position:-125px  -95px}
.panel-port span.oxigeno{background-position:-125px  -190px}
.panel-port span.aja{background-position:-250px  -190px}
.panel-port span.publimetro{background-position:-375px  -190px}
.panel-port span.capital{background-position:-500px  -190px}
.panel-port span.felicidad{background-position:0  -285px}
.panel-port span.bravaza{background-position:-125px  -285px}
.panel-port span.lazona{background-position:-250px  -285px}
.panel-port .desc{padding:5px}
.row .panel-port:last-child{margin:0}
/*Como Anunciar Module*/
/*Promociones Module*/
.sidebar h3{border-color:#ddd;border-style:solid;border-width:0 0 1px 0;padding:0 0 14px 0}
.sidebar .anuncio{word-wrap:break-word;padding:5px 0 0;}
.sidebar .anuncio a{text-decoration:none}
.sidebar .anuncio .demo-anuncio{font-family:Arial,sans-serif;border-color:#ddd;border-style:solid;border-width:1px;height:105px;margin:0 0 10px;padding:6px;}
.sidebar .anuncio .demo-anuncio a{display:block;float:left;font-size:11px;color:#1b2fc4;padding:0 0 0 5px;text-decoration:underline;}
.sidebar .anuncio .demo-anuncio a:hover{color:#0c2a85}
.sidebar .anuncio .demo-anuncio .title{color:#1b2fc4;font-size:15px;font-weight:700;line-height:14px;float:left}
.sidebar .anuncio .demo-anuncio p{color:#000;float:left;font-size:11px;margin:0;padding:0 0 0 5px;width:210px;display:block}
.sidebar .anuncio .demo-anuncio .logo-small{height:65px;margin:15px 0 0}
.sidebar .conoce{height:42px;margin:25px 0 0;padding:5px;background:url("../../../../img/icon-set.png?version") no-repeat scroll 0 0 transparent;background-position:-360px  -150px;background-color:#e6e8ec}
.sidebar .banner{width:306;height:128;display:block;margin:20px 0 0 0}
.soloTexto{width:98% !important;padding:0 0 0 5px}
