//-Private
mixin createPanel(clsBg, text)
	.col3
		.panel-port
			span(class='#{clsBg}')
			.desc!= text

//-Public
mixin createGrids(data)
	each item in data
		.row
			each ele in item
				each val, key in ele
					mixin createPanel(key, val)