- version = Math.floor((Math.random()*99)+1)
- urlStatic = "../"
//- urlStatic = "http://local.perured.pe/"
doctype 5
html(lang='es')
	head
		title('Front-End Architecture')
		meta(http-equiv="refresh", content="0;URL='jade/'")
	body
