include ../../../configs/global.jade
include ../../themes/partials/doctype.jade
head
	include ../../themes/partials/head.jade
body
	include ../../themes/partials/header.jade
	#wrapper
		include ../portales.jade
	include ../../themes/partials/footer.jade