.row
	.grid6
		h3 Somos la única red publicitaria a nivel nacional para anunciar los productos y servicios de tu empresa
		ul
			li Anuncia en los sitios web más importantes del país.
			li Elige los días, los portales web y las secciones donde quieres que se vea tu aviso.
		div.slideshow
			span.arrow-left
			ul.slide
				li
					a(href="javascript:;", title="title")
				li
					a(href="javascript:;", title="title")
				li
					a(href="javascript:;", title="title")
				li
					a(href="javascript:;", title="title")
				li
					a(href="javascript:;", title="title")
			span.arrow-right
	.grid6
		div.video-presentacion


.row
	Loren Ipsum
.row
	.col3
		.panel-home
			span
			.desc
				| Elige entre 2 tipos de avisos.
	.col3
		.panel-home
			span
			.desc
				| Tus avisos aparecerán de acuerdo al contenido de los portales.
	.col3
		.panel-home
			span
			.desc
				| Puedes monitorear tu campaña y realizar ajustes en cualquier momento.
	.col3(class='cend')
		.panel-home
			span
			.desc
				| Puedes pagar fácilmente con tarjeta de crédito o en efectivo.

h2 Pasos para usar PERURED
.pasos-de-uso.row
	div.video-pasos
	ul
		li
			span.step 1
			span.step-text Reg&iacute;strate
			span.step-icon#step-registrate
		li
			span.step 2
			span.step-text Dise&ntilde;a tu aviso
			span.step-icon#step-disena
		li
			span.step 3
			span.step-text Planifica tu pauta
			span.step-icon#step-planifica
		li
			span.step 4
			span.step-text Monitorea tu campa&ntilde;a
			span.step-icon#step-monitorea
		
h2 Red de portales que trabajan con nosotros
.row
	ul.red-home
		li
			a(class="elcomerciope", href="http://elcomercio.pe", title="ElComercio.pe", target="_blank") ElComercio.pe
		li
			a(class="rppnoticias", href="http://www.rpp.com.pe", title="Rpp Noticias", target="_blank") Rpp Noticias
		li
			a(class="perucom", href="http://www.peru.com", title="Peru.com", target="_blank") Peru.com
		li
			a(class="peru21", href="http://www.peru21.pe", title="Peru21", target="_blank") Peru21
		li
			a(class="trome", href="http://www.trome.pe", title="Trome.pe", target="_blank") Trome.pe
		li
			a(class="depor", href="http://www.depor.pe", title="Depor.pe", target="_blank") Depor.pe
		li
			a(class="correo", href="http://diariocorreo.pe/", title="Diario Correo", target="_blank") Diario Correo
		li
			a(class="studio92", href="http://www.studio92.com/", title="Studio 92", target="_blank") Studio 92
		li
			a(class="gestion", href="http://www.gestion.pe", title="Diario Gesti&oacute;n", target="_blank") Diario Gesti&oacute;n
		li
			a(class="ojo", href="http://www.ojo.pe", title="Diario Ojo", target="_blank") Diario Ojo
		li
			a(class="elbocon", href="http://www.elbocon.pe", title="Diario El Bocon", target="_blank") Diario El Bocon
		li
			a(class="oxigeno", href="http://www.oxigeno.com.pe/", title="Radio Oxigeno", target="_blank") Radio Oxigeno
		li
			a(class="aja", href="http://aja.pe", title="Diario Aja", target="_blank") Diario Aja
		li
			a(class="publimetro", href="http://publimetro.pe/", title="Publimetro", target="_blank") Publimetro
		li
			a(class="capital", href="http://www.capital.com.pe/", title="Radio Capital", target="_blank") Radio Capital
		li
			a(class="felicidad", href="http://www.felicidad.com.pe/", title="Radio Felicidad", target="_blank") Radio Felicidad
		li
			a(class="bravaza", href="http://www.bravaza.pe/", title="Radio Bravaza", target="_blank") Radio Bravaza
		li
			a(class="lazona", href="http://lazona.com.pe/", title="Radio La Zona", target="_blank") Radio La Zona
