.row
	.grid6
		h3 Somos la única red publicitaria a nivel nacional para anunciar los productos y servicios de tu empresa
		ul
			li Anuncia en los sitios web más importantes del país.
			li Elige los días, los portales web y las secciones donde quieres que se vea tu aviso.
	.grid6
		img(alt="",src="#{img_url}video.jpg",width="480",height="360")

h2 Red de portales que trabajan con nosotros
.row
	ul.red-home
		li
			a(class="elComercio", href="javascript:;", title="title") title