.row
	.grid6
		h3 Somos la única red publicitaria a nivel nacional para anunciar los productos y servicios de tu empresa
		ul
			li Anuncia en los sitios web más importantes del país.
			li Elige los días, los portales web y las secciones donde quieres que se vea tu aviso.
	.grid6
		img(alt="",src="#{img_url}video.jpg",width="480",height="360")

h2 Red de portales que trabajan con nosotros
.row
	ul.red-home
		li
			a(class="elcomerciope", href="javascript:;", title="ElComercio.pe") ElComercio.pe
		li
			a(class="rppnoticias", href="javascript:;", title="Rpp Noticias") Rpp Noticias
		li
			a(class="perucom", href="javascript:;", title="Peru.com") Peru.com
		li
			a(class="peru21", href="javascript:;", title="Peru21") Peru21
		li
			a(class="trome", href="javascript:;", title="Trome.pe") Trome.pe
		li
			a(class="depor", href="javascript:;", title="Depor.pe") Depor.pe
		li
			a(class="correo", href="javascript:;", title="Diario Correo") Diario Correo
		li
			a(class="studio92", href="javascript:;", title="Studio 92") Studio 92
		li
			a(class="gestion", href="javascript:;", title="Diario Gesti&oacute;n") Diario Gesti&oacute;n
		li
			a(class="ojo", href="javascript:;", title="Diario Ojo") Diario Ojo
		li
			a(class="elbocon", href="javascript:;", title="Diario El Bocon") Diario El Bocon
		li
			a(class="oxigeno", href="javascript:;", title="Radio Oxigeno") Radio Oxigeno
		li
			a(class="aja", href="javascript:;", title="Diario Aja") Diario Aja
		li
			a(class="publimetro", href="javascript:;", title="Publimetro") Publimetro
		li
			a(class="capital", href="javascript:;", title="Radio Capital") Radio Capital
		li
			a(class="felicidad", href="javascript:;", title="Radio Felicidad") Radio Felicidad
		li
			a(class="bravaza", href="javascript:;", title="Radio Bravaza") Radio Bravaza
		li
			a(class="lazona", href="javascript:;", title="Radio La Zona") Radio La Zona
