include functions/portales-panel.jade
- var a1 = {"elcomerciope":"Versión on-line del diario más importante del país. Cuenta con información actualizada las 24 horas y con el mayor número de usuarios únicos del Perú."}
- var a2 = {"rppnoticias":"Portal de noticias con la mejor y más actualizada información del acontecer nacional e internacional, con toda la experiencia de la radio informativa más grande del Perú."}
- var a3 = {"perucom":"El portal peruano con noticias, fútbol peruano, espectáculos, videos, deportes, política, fútbol, turismo, entretenimiento salud y actualidad."}
- var b1 = {"peru21":"Portal de noticias de actualidad política y económica. Incluye información y datos de interés separada por secciones además de fotos, videos y otros."}
- var b2 = {"trome":"Versión on-line del diario Trome con las últimas noticias sobre espectáculos, policiales, deportes, familia y actualidad."}
- var b3 = {"depor":"Portal digital del diario Depor con todas las noticias de deportes, tanto nacionales como internacionales"}
- var c1 = {"correo":"Portal de noticias de actualidad, política, economía, deportes y espectáculos que centraliza y actualiza minuto a minuto las 17 ediciones locales del diario Correo. Cuenta con producciones audiovisuales de creación propia sin descuidar el acontecer internacional."}
- var c2 = {"studio92":"Portal de entretenimiento dirigido a jóvenes de 17 a 25 años con noticias, música y todas las secuencias de los programas de la radio del mismo nombre. Número 1 en tu música."}
- var c3 = {"gestion":"Portal de noticias especializado en información de economía y negocios. Además, incluye artículos de política, tecnología y noticias internacionales."}

- var dataPortales = [ [a1, a2, a3], [b1, b2, b3], [c1, c2, c3] ];

mixin createGrids(dataPortales)