.row
	.promociones.col8
		h2 Promociones
		p Encuentra aqu&iacute; todas las promociones que te ogrece PeruRed.
		h3 Reg&iacute;strate hoy y llevate GRATIS un plan de hasta S/.177.
		p PeruRed solo aprobar&aacute; un paquete de promoci&oacute;n por empresa o dominio registrado. Promoci&oacute;n v&aacute;lida hasta agotar stock de cupones.
	include ../themes/partials/sidebar.jade