.row
	.col8
		h2 Promociones
		p Encuentra aquí todas las promociones que te ogrece PeruRed.
	.sidebar.col4
		h3 Ejemplos de Anuncio
		.anuncio
			h4 Imagen + Texto
			div.demo-anuncio
				span.title Con PeruRed estas a un click de tus clientes
				span.logo-small
				p PeruRed es la red publicitatia a nivel nacional donde podras anunciar de manera facil los productos y servicios de tu empresa.
				a(href="javascript:;", title="www.perured.pe") www.perured.pe
			a(href="javascript:;", title="title") Ver las caracter&iacute;sticas
		.anuncio
			h4 Solo Texto
			div.demo-anuncio
				span.title Con PeruRed estas a un click de tus clientes
				p.soloTexto PeruRed es la red publicitatia a nivel nacional donde podras anunciar de manera facil los productos y servicios de tu empresa.
				a(href="javascript:;", title="www.perured.pe") www.perured.pe
			a(href="javascript:;", title="title") Ver las caracter&iacute;sticas
		.conoce
			Conoce como se verá tu anuncio en nuestros portales
		.banner
			img(alt="descripcionImagen", src="../img/banner-sidebar.png", width="100", height="100")