.row
	.promociones.col8
		h2 Promociones
		p Encuentra aqu&iacute; todas las promociones que te ogrece PeruRed.
		h3 Reg&iacute;strate hoy y llevate GRATIS un plan de hasta S/.177.
		p PeruRed solo aprobar&aacute; un paquete de promoci&oacute;n por empresa o dominio registrado. Promoci&oacute;n v&aacute;lida hasta agotar stock de cupones.
		p
			strong ¿Quiénes pueden acceder a la promoción?
		p ¡Todos pueden! Para obtener tu cup&oacute;n de descuento solo debes registrarte 
			a(href="javascript:;", title="aquí") aqu&iacute;
			|&nbsp;y esperar un m&aacute;ximo de 72 horas (de lunes a viernes) para recibir un correo con el c&oacute;digo.			
	include ../themes/partials/sidebar.jade