- version = 'v='+Math.floor((Math.random()*99)+1)
- page_url = 'http://local.perured.pe/'
- page_name = 'Perured.pe'
- static_url = '../'
- img_url = '#{static_url}/img/'
- referer = 'ref=perured'
- img_url = '../img/'