- var version = 'v='+Math.floor((Math.random()*99)+1)
- var page_url = 'http://local.perured.pe/'
- var page_name = 'Perured.pe'
- var static_url = 'http://local.perured.pe/'
- var img_url = static_url+'img/'
- var referer = 'ref=perured'

//- ------------------------------------------------------------------------------------------------------------

- var page_title = 'Lema: (10 categorías más populares) | Perured'
- var page_desc = 'Pseudo descripcion de la pagina: (nombrar las 5 secciones o categorias más populares). Perured'
- var page_keywords = 'opcion 1, (10 productos más populares), opcion 2, opcion 3, opcion 4, opcion 5'
- var developed = 'perucomsultores.pe'
- var ga_code= 'AB-CDFGHIJK-L'
- var lang = 'es'
- var page_img = 'img/logo.jpg'
- var page_fav = 'favicon.ico'
- var llama_gratis = 'Llame GRATIS por Skype'
- var dv_organization = '<?php echo ZExtraLib_Config::getInstance()->url_mf?>Organization'
- var dv_product = '<?php echo ZExtraLib_Config::getInstance()->url_mf?>Product'
- var dv_offer = '<?php echo ZExtraLib_Config::getInstance()->url_mf?>Offer'