include ../../configs/global.jade
include partials/doctype.jade
head
	include partials/head.jade
body
	header
		include partials/header.jade
	#wrapper
		| layout
	footer
		include partials/footer.jade