.row .col1{float:left;margin:0 20px 0 0;width:61.66666666666667px;overflow:hidden;}
.row .col1:last-child{margin:0}
.row .col2{float:left;margin:0 20px 0 0;width:143.33333333333334px;overflow:hidden;}
.row .col2:last-child{margin:0}
.row .col3{float:left;margin:0 20px 0 0;width:225px;overflow:hidden;}
.row .col3:last-child{margin:0}
.row .col4{float:left;margin:0 20px 0 0;width:306.6666666666667px;overflow:hidden;}
.row .col4:last-child{margin:0}
.row .col5{float:left;margin:0 20px 0 0;width:388.33333333333337px;overflow:hidden;}
.row .col5:last-child{margin:0}
.row .col6{float:left;margin:0 20px 0 0;width:470px;overflow:hidden;}
.row .col6:last-child{margin:0}
.row .col7{float:left;margin:0 20px 0 0;width:551.6666666666667px;overflow:hidden;}
.row .col7:last-child{margin:0}
.row .col8{float:left;margin:0 20px 0 0;width:633.3333333333334px;overflow:hidden;}
.row .col8:last-child{margin:0}
.row .col9{float:left;margin:0 20px 0 0;width:715px;overflow:hidden;}
.row .col9:last-child{margin:0}
.row .col10{float:left;margin:0 20px 0 0;width:796.6666666666667px;overflow:hidden;}
.row .col10:last-child{margin:0}
.row .col11{float:left;margin:0 20px 0 0;width:878.3333333333334px;overflow:hidden;}
.row .col11:last-child{margin:0}
.row .col12{float:left;margin:0 20px 0 0;width:960px;overflow:hidden;}
.row .col12:last-child{margin:0}
.row .col50{float:left;margin:0 20px 0 0;width:480px;overflow:hidden;}
.row .col50:last-child{margin:0}
.row{margin-bottom:25px;*zoom:1;}
.row:before,.row:after{display:table;content:"";line-height:0}
.row:after{clear:both}
[class^="grid"]{float:left}
.grid6{width:49%;}
.grid6 + .grid6{margin-left:2%}
.grid8{width:54%}
.grid4{width:29%;}
.grid4 + .grid8{margin-left:17%}
#wrapper{background:bodyColor;margin:0 auto;padding:40px 10px;width:960px;*zoom:1;}
#wrapper:before,#wrapper:after{display:table;content:"";line-height:0}
#wrapper:after{clear:both}
.box-center{margin:0 auto;position:relative;width:980px;*zoom:1;}
.box-center:before,.box-center:after{display:table;content:"";line-height:0}
.box-center:after{clear:both}
.content-inner{padding-bottom:30px;*zoom:1;}
.content-inner:before,.content-inner:after{display:table;content:"";line-height:0}
.content-inner:after{clear:both}
.container{float:left;width:650px}
.side-right{float:right;width:320px}

