.col1{float:left;margin:0 20px 0 0;width:81.66666666666667px;overflow:hidden}
.col2{float:left;margin:0 20px 0 0;width:163.33333333333334px;overflow:hidden}
.col3{float:left;margin:0 20px 0 0;width:245px;overflow:hidden}
.col4{float:left;margin:0 20px 0 0;width:326.6666666666667px;overflow:hidden}
.col5{float:left;margin:0 20px 0 0;width:408.33333333333337px;overflow:hidden}
.col6{float:left;margin:0 20px 0 0;width:490px;overflow:hidden}
.col7{float:left;margin:0 20px 0 0;width:571.6666666666667px;overflow:hidden}
.col8{float:left;margin:0 20px 0 0;width:653.3333333333334px;overflow:hidden}
.col9{float:left;margin:0 20px 0 0;width:735px;overflow:hidden}
.col10{float:left;margin:0 20px 0 0;width:816.6666666666667px;overflow:hidden}
.col11{float:left;margin:0 20px 0 0;width:898.3333333333334px;overflow:hidden}
.col12{float:left;margin:0 20px 0 0;width:980px;overflow:hidden}
.col50{float:left;margin:0 20px 0 0;width:480px;overflow:hidden;}
.col50:last-child{margin:0}
.cend  // Estilo para la columna final de una fila{margin-right:0}
.row    // Estilo para definir una fila{width:100%;overflow:hidden;margin:0 0 1em 0;display:block;overflow:hidden}
#wrapper{width:980px;padding:0 10px;margin:0 auto;background:#fff}
.box-center{clear:both;margin:0 auto;position:relative;width:980px}
.content-inner{padding-bottom:30px;*zoom:1;}
.content-inner:before,.content-inner:after{display:table;content:"";line-height:0}
.content-inner:after{clear:both}
.container{float:left;width:650px}
.side-right{float:right;width:320px}

