.row .col1{float:left;margin:0 20px 0 0;par1:0;par2:6.292517006802722px;width:6.292517006802722%;overflow:hidden;}
.row .col1:last-child{margin:0}
.row .col2{float:left;margin:0 20px 0 0;par1:2.0408163265306123px;par2:12.585034013605444px;width:14.625850340136056%;overflow:hidden;}
.row .col2:last-child{margin:0}
.row .col3{float:left;margin:0 20px 0 0;par1:4.081632653061225px;par2:18.877551020408166px;width:22.95918367346939%;overflow:hidden;}
.row .col3:last-child{margin:0}
.row .col4{float:left;margin:0 20px 0 0;par1:6.122448979591837px;par2:25.17006802721089px;width:31.292517006802726%;overflow:hidden;}
.row .col4:last-child{margin:0}
.row .col5{float:left;margin:0 20px 0 0;par1:8.16326530612245px;par2:31.46258503401361px;width:39.62585034013606%;overflow:hidden;}
.row .col5:last-child{margin:0}
.row .col6{float:left;margin:0 20px 0 0;par1:10.204081632653061px;par2:37.75510204081633px;width:47.9591836734694%;overflow:hidden;}
.row .col6:last-child{margin:0}
.row .col7{float:left;margin:0 20px 0 0;par1:12.244897959183675px;par2:44.04761904761905px;width:56.292517006802726%;overflow:hidden;}
.row .col7:last-child{margin:0}
.row .col8{float:left;margin:0 20px 0 0;par1:14.285714285714286px;par2:50.34013605442178px;width:64.62585034013607%;overflow:hidden;}
.row .col8:last-child{margin:0}
.row .col9{float:left;margin:0 20px 0 0;par1:16.3265306122449px;par2:56.6326530612245px;width:72.9591836734694%;overflow:hidden;}
.row .col9:last-child{margin:0}
.row .col10{float:left;margin:0 20px 0 0;par1:18.367346938775512px;par2:62.92517006802722px;width:81.29251700680274%;overflow:hidden;}
.row .col10:last-child{margin:0}
.row .col11{float:left;margin:0 20px 0 0;par1:20.408163265306122px;par2:69.21768707482994px;width:89.62585034013605%;overflow:hidden;}
.row .col11:last-child{margin:0}
.row .col12{float:left;margin:0 20px 0 0;par1:22.448979591836736px;par2:75.51020408163266px;width:97.9591836734694%;overflow:hidden;}
.row .col12:last-child{margin:0}
.row .col50{float:left;margin:0 20px 0 0;width:480px;overflow:hidden;}
.row .col50:last-child{margin:0}
.row{margin-bottom:25px;*zoom:1;}
.row:before,.row:after{display:table;content:"";line-height:0}
.row:after{clear:both}
[class^="grid"]{float:left}
.grid6{width:49%;}
.grid6 + .grid6{margin-left:2%}
.grid8{width:54%}
.grid4{width:29%;}
.grid4 + .grid8{margin-left:17%}
#wrapper{background:bodyColor;margin:0 auto;padding:40px 10px;width:960px;*zoom:1;}
#wrapper:before,#wrapper:after{display:table;content:"";line-height:0}
#wrapper:after{clear:both}
.box-center{margin:0 auto;position:relative;width:980px;*zoom:1;}
.box-center:before,.box-center:after{display:table;content:"";line-height:0}
.box-center:after{clear:both}
.content-inner{padding-bottom:30px;*zoom:1;}
.content-inner:before,.content-inner:after{display:table;content:"";line-height:0}
.content-inner:after{clear:both}
.container{float:left;width:650px}
.side-right{float:right;width:320px}

