.col1{float:left;margin:0 20px 0 0;width:61.25px;overflow:hidden}
.col2{float:left;margin:0 20px 0 0;width:122.5px;overflow:hidden}
.col3{float:left;margin:0 20px 0 0;width:183.75px;overflow:hidden}
.col4{float:left;margin:0 20px 0 0;width:245px;overflow:hidden}
.col5{float:left;margin:0 20px 0 0;width:306.25px;overflow:hidden}
.col6{float:left;margin:0 20px 0 0;width:367.5px;overflow:hidden}
.col7{float:left;margin:0 20px 0 0;width:428.75px;overflow:hidden}
.col8{float:left;margin:0 20px 0 0;width:490px;overflow:hidden}
.col9{float:left;margin:0 20px 0 0;width:551.25px;overflow:hidden}
.col10{float:left;margin:0 20px 0 0;width:612.5px;overflow:hidden}
.col11{float:left;margin:0 20px 0 0;width:673.75px;overflow:hidden}
.col12{float:left;margin:0 20px 0 0;width:735px;overflow:hidden}
.col13{float:left;margin:0 20px 0 0;width:796.25px;overflow:hidden}
.col14{float:left;margin:0 20px 0 0;width:857.5px;overflow:hidden}
.col15{float:left;margin:0 20px 0 0;width:918.75px;overflow:hidden}
.col16{float:left;margin:0 20px 0 0;width:980px;overflow:hidden}
.col50{float:left;margin:0 20px 0 0;width:480px;overflow:hidden;}
.col50:last-child{margin:0}
.cend  //Estilo para la columna final de una fila{margin-right:0}
.row    //Estilo para definir una fila{width:100%;overflow:hidden;margin:0 0 1em 0;display:block;overflow:hidden}
#wrapper{width:widthPage;padding:paddingWrapper;margin:0 auto;background:#fff}
.box-center{clear:both;margin:0 auto;position:relative;width:widthPage}
.content-inner{padding-bottom:30px;*zoom:1;}
.content-inner:before,.content-inner:after{display:table;content:"";line-height:0}
.content-inner:after{clear:both}
.container{float:left;width:650px}
.side-right{float:right;width:320px}