/*Common Module*/
body{background:none repeat scroll 0 0 #fff;color:#666;font:400 12px/14px Arial,sans-serif;margin:0}
a{color:#0c2a85;text-decoration:underline;outline:0 !important}
p{margin:0 0 10px}
ul{margin:0 0 10px;padding:0}
input[type="text"]{background:#fff;border-color:#989898 #e7e7e7 #e7e7e7;border-style:solid;border-width:1px;color:#000;font:13px/16px Arial,sans-serif;padding:2px 4px;width:190px}
input:-moz-placeholder{color:#888}
select{color:#000;display:block;font:12px/19px Arial,sans-serif;height:22px;padding:1px;width:200px}
select[disabled]{background:#ccc;color:#888}
option{border-top:1px solid #ddd;overflow:hidden;padding:2px 5px;vertical-align:middle}
h1,h2,h3{margin:0 0 15px;font-size:24px;line-height:20px}
.input-small{width:69px !important}
.input-xsmall{width:38px !important}
.input-medium{width:126px !important}
.input-large{width:290px !important}
.v-all{display:block;padding:5px}
.pb15{padding-bottom:15px}
.lt-ie9 .dg-black{filter:progid:DXImageTransform.Microsoft.gradient( startColorstr='#313131', endColorstr='#0D0D0D',GradientType=0);*zoom:1}
.lt-ie9 .btn{filter:progid:DXImageTransform.Microsoft.gradient( startColorstr='#227FE7', endColorstr='#19559B',GradientType=0);*zoom:1;}
.lt-ie9 .btn:hover{filter:progid:DXImageTransform.Microsoft.gradient( startColorstr='#19559B', endColorstr='#227FE7',GradientType=0)}
.lt-ie9 .bx-note .cbox{background:#fff;border-bottom:1px solid #ebebeb}
header{background:none repeat scroll 0 0 #eff4fa;border-color:#ccc;border-style:solid;border-width:0 0 1px 0;height:95px;padding:15px 0 0 0;}
header h1{font-size:0;line-height:0;margin:0;width:156px;}
header h1 img{display:block}
footer{background:none repeat scroll 0 0 #eff4fa;border-color:#ccc;border-style:solid;border-width:1px 0 0 0;height:431px;padding:10px 0 0 0;}
footer .visit-also{color:#666;float:left;font:400 12px/14px Arial,sans-serif;padding-top:6px;width:85px}
footer .visit-also-list{float:left;list-style:none outside none;margin:0;width:895px;}
footer .visit-also-list li{border-right:1px solid #666;float:left;line-height:12px;margin-top:6px;padding:0 5px;}
footer .visit-also-list li a{font:400 12px/14px Arial,sans-serif;text-decoration:none}
footer .visit-also-list .last{border:medium none}
.btnRegister{background:url("imgPathiconSet?version") no-repeat scroll 0  -32px  transparent}

