/*Common Module*/
#wrapper{width:980px;padding:0 10px;margin:0 auto;background:#fff}
.content-inner{padding-bottom:30px;*zoom:1;}
.content-inner:before,.content-inner:after{display:table;content:"";line-height:0}
.content-inner:after{clear:both}
.container{float:left;width:650px}
.side-right{float:right;width:320px}
body{background:#efefef;margin:0;color:#000;font-family:Arial,sans-serif;font-size:12px;line-height:14px}
a{color:#1d46eb;text-decoration:underline;outline:0 !important}
p{margin:0 0 10px}
ul{margin:0 0 10px;padding:0}
input[type="text"]{background:#fff;border-color:#989898 #e7e7e7 #e7e7e7;border-style:solid;border-width:1px;color:#000;font:13px/16px Arial,sans-serif;padding:2px 4px;width:190px}
input:-moz-placeholder{color:#888}
select{color:#000;display:block;font:12px/19px Arial,sans-serif;height:22px;padding:1px;width:200px}
select[disabled]{background:#ccc;color:#888}
option{border-top:1px solid #ddd;overflow:hidden;padding:2px 5px;vertical-align:middle}
h1,h2,h3{margin:0 0 15px;font-size:18px;line-height:20px}
.input-small{width:69px !important}
.input-xsmall{width:38px !important}
.input-medium{width:126px !important}
.input-large{width:290px !important}
.v-all{display:block;padding:5px}
.pb15{padding-bottom:15px}
.lt-ie9 .dg-black{filter:progid:DXImageTransform.Microsoft.gradient( startColorstr='#313131', endColorstr='#0D0D0D',GradientType=0);*zoom:1}
.lt-ie9 .btn{filter:progid:DXImageTransform.Microsoft.gradient( startColorstr='#227FE7', endColorstr='#19559B',GradientType=0);*zoom:1;}
.lt-ie9 .btn:hover{filter:progid:DXImageTransform.Microsoft.gradient( startColorstr='#19559B', endColorstr='#227FE7',GradientType=0)}
.lt-ie9 .bx-note .cbox{background:#fff;border-bottom:1px solid #ebebeb}
.btnRegister{background:url("../img/icon-set.png?version") no-repeat scroll 0  -32px  transparent}

