header
	background none repeat scroll 0 0 headerColor
	border-color borderColor
	border-style solid
	border-width 0 0 1px 0
	height 115px - 15px
	padding 15px 0 0 0
	h1
		font-size 0
		line-height 0
		margin 0
		width 156px
		float left
		img
			display block


.account
	float: right;
	list-style: none outside none;
	margin: 0;
	padding: 0;
	li
		border-left: 1px solid borderColor2;
		float left
		padding: 0 10px;
	li:first-child
		border: medium none
	

#main-menu
	clear: both;
	list-style: none outside none;
	margin: 0;
	padding: 0 0 0 220px
