- version = Math.floor((Math.random()*99)+1)
doctype 5
html(lang='es')
	head
		title('Front-End Architecture')
		link(type='text/css', rel='stylesheet', href='../css/layout.css?v=#{version}')
		link(type='text/css', rel='stylesheet', href='../css/base.css?v=#{version}')
		script(type="text/javascript", src="http://ajax.googleapis.com/ajax/libs/jquery/1.7.2/jquery.min.js")
		script(type='text/javascript')
			window.jQuery || document.write(unescape('%3Cscript src="js/jquery.min.js" type="text/javascript"%3E%3C/script%3E'))
	body
		