include application/configs/global.jade
include application/modules/themes/partials/doctype.jade
	head
		include application/modules/themes/partials/head.jade
	body
		include application/modules/themes/partials/header.jade

		#wrapper
			include application/modules/portal/home.jade

		include application/modules/themes/partials/footer.jade