include application/configs/global.jade
doctype 5
html(lang='es')
	head
		include application/modules/themes/partials/head.jade
	body
		include application/modules/themes/partials/header.jade

		#wrapper
			.row
				.grid6
					h3 Somos la única red publicitaria a nivel nacional para anunciar los productos y servicios de tu empresa
					ul
						li Anuncia en los sitios web más importantes del país.
						li Elige los días, los portales web y las secciones donde quieres que se vea tu aviso.
				.grid6
					img(src="#{img_url}video.jpg",width="480",height="360")
			include application/modules/portal/home.jade

		include application/modules/themes/partials/footer.jade