@font-face{
		font-family:'century';
		font-weight:normal;font-style:normal
		src:url(../../../wf/century/century-webfont.eot?#iefix) format('embedded-opentype'),src:url(../../../wf/century/century-webfont.eot?version);
		url(../../../wf/century/century-webfont.ttf?version) format('truetype');
	}
