.pasos-de-uso{padding:15px 0 0 0;}
.pasos-de-uso .video-pasos{width:286px;height:166px;display:block;float:left}
.pasos-de-uso ul{float:right;}
.pasos-de-uso ul li{list-style:none outside none;width:155px;height:135px;border-color:borderColor4;border-style:solid;border-width:0 0 0 1px;float:left;margin:3px 8px 0 0;position:relative;padding:20px 0 0}
.pasos-de-uso ul li:first-child{margin:3px 8px 0 0;border-width:0 0 0 1px}
.pasos-de-uso ul .step{display:block;font-size:h0;line-height:h0;float:left;margin:0 0 0 15px;font-weight:700;height:55px}
.pasos-de-uso ul .step-text{display:block;float:left;margin:0 0 0 10px;width:90px;padding:10px 0 1px}
.pasos-de-uso ul .step-icon{clear:both;display:block;height:50px;margin:0 auto;width:50px;}
.red-home{list-style:none outside none;margin:0 0 10px 0;}
.red-home li{border-color:borderColor2;border-style:solid;border-width:1px;float:left;height:93px;list-style:none outside none;margin:10px 12px 0 0;width:123px;}
.red-home li a{width:123px;height:93px;display:block;font-size:0;line-height:0;text-align:center;*text-indent:-9999px;}
.red-home li:first-child{margin:10px 12px 0 0}
.panel-home span{width:177px;height:110px;display:block;overflow:hidden;border:0 solid #ddd;margin:1px auto;}
.panel-home .desc{padding:2px;text-align:center}

